<!DOCTYPE html>
<html lang="en" ng-app="UploadFileApp">
	<head>
		<meta charset="utf-8"> 
		<link rel="stylesheet" href="webjars/bootstrap/3.3.4/dist/css/bootstrap.min.css">
	</head>
	<body>
		<div class="container">
			<div class="row">
				<h1>Upload a File to a RESTful Web Service</h1>
			</div>
			<div class="row">
				<h3>(JAX-RS using Jersey)</h3>
			</div>
			<div class="row">
				<form ng-controller="uploader">
					<div class="row">
						<div class="col-xs-2">
							<div class="form-group">
								<select type="text" ng-model="contentType" ng-options="contentType for contentType in contentTypes"></select>
							</div>
						</div>
						<div class="col-xs-6">
							<div class="form-group">
								<input type="file" file-input="files" multiple />
								<li ng-repeat="file in files">{{file.name}}</li>
							</div>
						</div>
						<div class="col-xs-2">
							<div class="form-group">
								<button class="btn btn-default" ng-click="upload()"><span class="glyphicon glyphicon-upload"></span>Upload</button>
							</div>							
						</div>
					</div>
				</form>
			</div>
			<div ng-show="status">{{status}}</div>
		</div>
		
		<script type="text/javascript" src="webjars/angularjs/1.3.15/angular.min.js"></script>
		
		<!-- Modules -->
    	<script type="text/javascript" src="js/UploadFileApp.js"></script>

    	<!-- Controllers -->
    	<script type="text/javascript" src="js/controllers/UploadFileControllers.js"></script>
    
    	<!-- Services -->
		
    	<!-- Directives -->
    	
	</body>
</html>