<div class="container">
<div>Enter your search criteria below:</div>
			<form ng-submit="processForm()" class="form-horizontal" role="form">
				<div class="col-md-12">
					<div class="form-group row">
						<label class="control-label col-md-1" for="observation">Observation:</label>
						<div class="col-md-3">
							<input type="text" name="observation" class="form-control" ng-model="formData.observation">
						</div>
					</div>
					<div class="form-group row">
						<label class="control-label col-md-1" for="provenance">Provenance:</label>
						<div class="col-md-3">
							<input type="text" name="value" class="form-control" ng-model="formData.provenance">
						</div>
					</div>
					<div class="form-group row">
						<label class="control-label col-md-1" for="timing">Timing:</label>
						<div class="col-md-3">
							<input type="text" name="value" class="form-control" ng-model="formData.timing">
						</div>
					</div>
					<div class="form-group row">
						<label class="control-label col-md-1" for="value">Value:</label>
						<div class="col-md-3">
							<input type="text" name="value" class="form-control" ng-model="formData.value">
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-offset-2 col-md-10">			
						<button type="submit" class="btn btn-default pull-right"><i class="glyphicon glyphicon-search"></i>Search</button>
					</div>
				</div>
			</form>
			<div>Search Results:</div>
			<!-- TODO: add function that parses and displays key/header -->
			<table class="table table-striped">
				<tr>
					<th ng-repeat="(key, val) in patients[0]">{{key}}</th>
				</tr>
				<tr ng-repeat="patient in patients">
					<td ng-repeat="(key, val) in patient">{{val}}</td>
				</tr>
			</table>
			
			<div ng-show="status">{{status}}</div>
</div>